.homepage {
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 3em;
}

.sidebar-features li {
  margin-bottom: 1em;
  list-style-type: none;
}

.sidebar-features a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-boxes {
  display: flex;
  margin-bottom: 20px;
}

.selection-box {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.box-label {
  position: absolute;
  top: -1.2em;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  font-size: 0.8em;
}

.box-header {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown-list {
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.calendar-container {
  margin: 20px auto;
  max-width: 116000px;
}

.time-grid-container {
  margin-top: 20px;
  width: 100%;
  max-width: 12000px;
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.time-slot {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.time-slot:hover {
  background-color: #f0f0f0;
}

.time-slot.selected {
  background-color: #007bff;
  color: white;
}

/* Custom styles for react-calendar */
.react-calendar__tile {
  padding: 0.5em;
}

.confirm-booking-box {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ccc;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.confirm-booking-box.active {
  background-color: #007bff;
  cursor: pointer;
}

.confirm-booking-wrapper {
  width: 100%; /* Take full width of parent */
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  margin-top: 20px; /* Add some space from the element above */
}
